html
  head
    title Tabla
  body
    table
      thead
        tr
          th Nombre
          th Email
          th Contraseña
      tbody
        each registros
          tr
            td= registros.name
            td= registros.email
            td= registros.password