html
  head
    title Formulario de Registro
  body
    form(action="localhost:3000/register")
      thead
        tr
          th Nombre
          th Email
          th Contraseña
      tbody
        each registros
          tr
            td= registros.name
            td= registros.email
            td= registros.password