html
  head
    title Formulario de Registro
  body
    form(action="/register")
      input(type="text" id="name" name="name")
      input(type="email" id="email" email="email")
      input(type="password" id="password" password="password")

      